{% extends "layouts/base.njk" %}

{% block content %}
<article class="page">
  {% set pageTitle = title %} {% set pageSubtitle = subtitle %}

  <div class="page__content content">
    {{ content | safe }}
  </div>
  {% if not isAbout %}
    <p>Digo hola soy {{ title }} </p>
  {% endif %}
</article>
{% endblock %}
